// Colors Varible
$red: #FF1500;
$dark-red: #CC1000;

$light-green: #AEE9BF;
$green: #33C15D;
$dark-green: #1F793A;

$light-grayish-blue: #F4F6F8;
$light-gray: #CCCCCC;
$mid-dark-gray : #97A0AC;
$dark-gray: #657387;
$black: #001738;

$orange: #FF5F1F;
$dark-orange: #E5541B;

$white: #FFFFFF;
$light-yellow: #FEE5DB;

// Margin padding 
$base-height: 8px;
$base-margin: 8px;
$base-padding: 8px;

$base-font-size: 12px;
$h1-font-size: 24px;
$h1-line-height: 31px;
$base-line-height: 15px;

// Font family 
$font-family: 'Source Sans Pro', sans-serif;
$bold-600: 600;
$bold: 700;

// Shawows

$container-shadow: 0px 3px 6px $light-yellow;